body {
    margin: 0;
    background-color: black;
}

#boardContainer {
    display: flex;
    justify-content: center;
}
#board {
    height: 400px;
    width: 700px;
    border: solid green 2px;
}

#spaceship{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 30px solid green;
}