body {
    margin: 0;
    background-color: black;
}

#scoreCard {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 20px;
    user-select: none;
}

#score {
    color: rgb(233, 113, 113);
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

#boardContainer {
    display: flex;
    justify-content: center;
}



#canvasContainer {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

#canvas {
    border: 2px solid green;
    margin-top: 0;
    margin-bottom: 15px;
}

#diffContainer {
    display: flex;
    justify-content: center;
}

#easy {
    background-color: green;
    border: none;
    user-select: none;
    outline: none;
    width: 67px;
    height: 20px;
    padding: 2px 0 2px 0;
}

#medium {
    background-color: yellow;
    border: none;
    user-select: none;
    outline: none;
    width: 67px;
    height: 20px;
    padding: 2px 0 2px 0;
}

#hard {
    background-color: red;
    border: none;
    user-select:  none;
    outline: none;
    width: 67px;
    height: 20px;
    padding: 2px 0 2px 0;
}

#music {
    display: flex;
    justify-content: center;
    margin-top: 15px;

}

#musicButton {
    background-image: linear-gradient(red, yellow);
    border: none;
    user-select:  none;
    outline: none;
    width: 100px;
    margin-right: 10px;
    height: 20px;
    padding: 2px 0 2px 0;
}

#musicChangeButton {
    background-image: linear-gradient(red, yellow);
    border: none;
    user-select:  none;
    outline: none;
    width: 100px;
    height: 20px;
    padding: 2px 0 2px 0;
}

#easy:hover, #medium:hover, #hard:hover {
    width: 63px;
    height: 23px;
}

#easy:active, #medium:active, #hard:active {
    width: 60px;
    height: 20px;
}

#musicButton:hover, #musicChangeButton:hover {
    width: 103px;
    height: 23px;
}

#musicButton:active, #musicChangeButton:active {
    width: 100px;
    height: 20px;
}

@-webkit-keyframes glow {
from {
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
}
to {
  text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
}
}

#credits {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 8px;
    color: white;
}