body {
    margin: 0;
    background-color: black;
}

#boardContainer {
    display: flex;
    justify-content: center;
}



#canvasContainer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#canvas {
    border: 2px solid green;
}